<div class="row container-fluid">
  <div class="col-md-9">
  <div class="row">
     <p class="white font-22">Chaats</p>   
    <% @chaats.each do |chaat| %>
    <div class="col-md-3 col-sm-6 padding-5 js-product" style="cursor: pointer;" id="<%=chaat.id%>"">
      <%= image_tag(chaat.image_url,:width => '100%' , :height => '100%', :class => "product-image")%>

      <div class="display-none well well-sm bg-white product-details js-product-details" >
        <h4 class="js-product-name item-name"><%= chaat.name %></h4>
        <small><%= chaat.title %></small>
        <br>
        <span class="item-price"> &#8377<i class="js-product-price"><%= chaat.price %> </i></span>
      </div> 
    </div>
    <% end %>
</div>

  <div class="row">
    <br>
    <p class="white font-22">Beverages</p>
    <% @bevs.each do |bev| %>
    <div class="col-md-3 col-sm-6 padding-5 js-product" style="cursor: pointer;" id="<%=bev.id%>"">
      <%= image_tag(bev.image_url,:width => '100%' , :height => '100%', :class => "product-image")%>

      <div class="display-none well well-sm bg-white product-details js-product-details" >
        <h4 class="js-product-name item-name"><%= bev.name %></h4>
        <small><%= bev.title %></small>
        <br>
        <span class="item-price"> &#8377<i class="js-product-price"><%= bev.price %> </i></span>
      </div> 

    </div>
    <% end %>
</div>
</div>
<div class="col-md-3">
  <br>
<br>
  <div class="well well-sm bg-transparent font-18">


    <div class="details display-none">
      <center class="dotted-bottom-border white"><h4 class="data">Delivery Details</h4></center>
      <form id ="details" class="form-horizontal">
        <div class="form-group margin-top-5">

          <div class="col-sm-12">
            <input type="text" class="form-control" id="name-input" name="name" placeholder="Full Name" required="true" value="">
          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-12">
            <input type="integer" class="form-control" id="mobile-input"  pattern="[7-9]{1}\d{9}" name="mobile" size="10" placeholder="10 Digit Mobile Number"  required="true"  value="">
          </div>
        </div> 
        
        <div class="form-group">

          <div class="col-sm-12">
            <input type="email" class="form-control" id="email-input" name="email" placeholder="Your Email"  required="false"  value="">
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <textarea id="address-input" class="form-control" rows="4" name="address"  placeholder="Address For Delivery"  required="true" ></textarea>
          </div>
        </div>


        <div class="form-group">

        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-3">
            <input id="finish" name="submit" type="submit"  value="Place Order" class="btn btn-success">
          </div>
        </div>
        <div class="form-group hide">
          <div class="col-sm-8 col-sm-offset-3">
            <input id="hmm" name="submit" type="button" data-toggle="modal" data-target="#confirm" value="Confirm Order" class="btn btn-success">
          </div>
        </div>
        <div class="form-group hide">
          <div class="col-sm-8 col-sm-offset-3">
            <input id="errorss" name="submit" type="button" data-toggle="modal" data-target="#errorinorder" value="Error message" class="btn btn-success">
          </div>
        </div>
      </form>
    </div>


    <div class="text-center subarea display-none">
      <label class="text-center"><span class="white font-weight-normal data">Please select an area for delivery</span>
        <center>
          <select required="" id="area" class="form-control margin-to-5">
           <option style="font-size:10">Hope Farm,Bangalore</option> 
           <option style="font-size:10">ITPL Main Road,Bangalore</option> 
           <option style="font-size:10">Kadugodi,Bangalore</option>
           <option style="font-size:10">Kannamangla,Bangalore</option> 
           <option style="font-size:10">Prasantha Extension,Bangalore</option> 
           <option style="font-size:10">Seegehalli,Bangalore</option> 
         </select>
       </center>

       <span class="white"><h5 class="data">Order Timing 11:00 am to 10:00 pm</h5></span>
       <h5 id="time" class="white"></h5>

     </label>
     <div class="row">

      <div class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
        <button id="delivery" class="btn btn-success"> Proceed </button>
      </div>
    </div>
  </div>
  <!-- End Delivery Details -->
  <!-- Order Summary -->
  <div id="line-items">
    <center class="dotted-bottom-border white">
      Order Details
    </center>
  </div>
  <!-- End Order Summary -->
  <div class="finish-message display-none white">
    <h3 class="text-center"><i class="data">Thanks For Ordering</i></h3>
    <br>
    <br>
    <h5 class="text-center data">You Will Recieve order within 40 minutes </h5>
  </div>
  <center>
    <% if Rails.application.config.sold_out %>
      <button disabled="disabled" class="btn btn-success js-proceed">SOLD OUT</button>
      <p class="white data">All our chaatboxes are sold out for today. Please check us back tomorrow and we will definitely have them available for you. </p>
    <% else %>
      <button  class="btn btn-success js-proceed margin-top-5"> Proceed </button>
    <% end %>
  </center>
  <h4 class="please-select text-center red"></h4>
  <h4 id="minorder" class="white display-none text-center data">**Minimum order amount is &#8377 150**</h4>

</div>
<center class="white">
  <h4>Payable Amount : &#8377<span id="total">0</span><h4>
<!-- <h6 class="white">*inclusive of packaging and delivery charges</h6> -->
  </center> 
</div>


<div id="line-item-container" class="hide" >
  <div class="well well-sm bg-white line-item margin-5">
    <div class="row">
     <div class="col-sm-6 col-xs-6">
       <h5 id="line-item-inner" class="item-name"> </h5>
     </div>
     <div class="col-sm-1 col-xs-1 col-sm-offset-4 col-xs-offset-5 cross">
       <p class="red"><a href="#">&times</a></p>
     </div>
   </div>
   <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon minus"><b><a href="#">-</b></a></span>
        <input type="integer" class="form-control num" area-label="Quantity" value="1" readonly="readonly">
        <span class="input-group-addon plus"><b><a href="#">+</b></a></span>
      </div>
    </div>
    <div class="col-md-6"> 
      <span class="prices hide"></span>
      <span class="item-price"> &#8377<i class="pricess"></i></span>
    </div>
  </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<section id="love" class=" review-preview">
				<div class="container text-center">
					<div class="heading">
						<h1>Love from our <span>customers</span></h1>
<br>

						<p></p>
					</div>
					<div class="loverow">
						<div class="review col-md-4">
<div class="row">
							<div class="photo">
								<%= image_tag "viveks.jpg",height: '120',class: 'img-circle' %>
							</div>
							<div class="data">
<br>
								<p><span style="font-size:19px">Vivek Srivastava</span>,
								<a href="http://www.zoma.to/pMgPop">Zomato</a></p>
								<p>Great Experience! Good amalgamation of cost, customer service and quality food. This was the best chaats I ever had in Bangalore. Chaatbox, chaats and other items were hot & fresh when delivered, good in taste and hygienic.
								</p>
							</div>
</div>
						</div>
						<div class="review col-md-4">
							<div class="photo">
								<%= image_tag "nayona.jpg",height: '120',class: 'img-circle' %>
							</div>
							<div class="data">
<br>
								<p><span style="font-size:19px">Nayona Agarwal</span>,
								<a href="http://www.zoma.to/EXgZkm">Zomato</a></p>
								<p>Best chaat in this side of town!!!! I love the aloo tikki, dahi Kabab and samosas. We order regularly from these guys. The delivery boys are super sweet and polite. They are so courteous. I am super happy with this service. 
								</p>
							</div>
						</div>
<div class="review col-md-4">
							<div class="photo">
								<%= image_tag "urmila.jpg",height: '120',class: 'img-circle' %>
							</div>
							<div class="data">
<br>

								<p><span style="font-size:19px">Urmila Guha</span>,

								<a href="https://www.facebook.com/urmila.guha/activity/833434666726388">Facebook</a></p>
								<p>Loved the packaging, 'Recipe sheet' and the taste was authentic north Indian..as promised.
								</p>
							</div>
						</div>
<br>
<br>
					</div>
				</div>
        <br/>
			</section>
<div class="modal" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i><h3 class="modal-title text-center" id="confirmLabel">Thank You For Ordering</h3></i>
      </div>
      <div class="modal-body">
        <div class="row data">
          <div class="col-sm-8">
            <div class=" col-sm-12">
              <i><h4 class="confirmtotal"></h4></i>
            </div>
            <br>
            <div class=" col-sm-12">
              <i><h4 class="discounttotal"></h4></i>
            </div>
            <div class="col-sm-12 ">

              <i><h4 class="red">**We will deliver within 1 hour**</h4></i>
            </div>
          </div>
          <div class="col-sm-4">
            <%= image_tag "deliveryboy.png",class:"bg-transparent",width:"140",height:"140" %>
          </div>
        </div>
        <br>
        <div class="row data">

          <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <p class="fb-like" data-href="https://www.facebook.com/chaatbox" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
            </p>
          </div>
          <div class="col-sm-2 col-sm-offset-5">
            <form action="http://www.chaatbox.com/" method="get">
              <button class="btn btn-danger float-right margin-right">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="modal" id="errorinorder" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
         <i><h3 class="modal-title text-center data" id="confirmLabel">Oops something went wrong,please try again</h3></i>
         <br>
         <br>
         <div class="col-sm-2 col-sm-offset-5">
          <form action="http://www.chaatbox.com/" method="get">
            <button class="btn btn-danger float-right margin-right">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal" id="howitworks" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
 
  <div class="container">
   
    <button type="button" class="close white font-18 margin-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>


    <section class="about" id="about">
      <div class="white text-center">
       <div class="white heading">
        <br>

        <h2><b>How it works?</b></h2>
        
      </div>
      <div class="about-content grey col-md-10 col-md-offset-1">
      </div>
      <div class="process">
        <br>
        <div class="col-md-3">
         <%= image_tag 'touch.png',height: '100' %>
         <h5 class="data">You place an order</h5>
         <p class="less-white data"><small>You place an order on our website or by calling us on 09595404709. <br>PS: We love you for doing that!</small></p>
       </div>
       <div class="col-md-3">
         <%= image_tag 'cook.png',height: '100' %>

         <h5>Prepared, Packed & Delivered within 1 hour!</h5>
         <p class="less-white"><small>Our awesome chefs carefully prepare & pack your order in the amazing Chaatboxes while we make sure the order reaches you hot & yummy</small></p>

       </div>
       <div class="col-md-3">
         <%= image_tag 'mixture.png',height: '100' %>
         <h5 class="data">Do it Yourself!</h5>
         <p class="less-white data"><small> You are our favorite cook! Have fun crafting the chaat using the Recipe Card that comes with the box & do your magic!</small></p>  
       </div>
       <div class="col-md-3">
         <%= image_tag 'final.png',height: '100' %>
         <h5 class="data">Yum!</h5>
         <p class="less-white data"><small>It’s about time, sit with your loved ones while you eat your yummy, tasty & delicious Chaat! We hope to serve you again soon. ☺ </small></p>  
       </div>
       
       <div class="clearfix"> </div>
     </div>
   </div>
 </section>



</div>

</div>



<div id="js-slack-url" class="hide" >
  <% if ENV['RAILS_ENV'] ==  'production' %>
    https://hooks.slack.com/services/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
  <% else %>
    http://www.yahoo.com
  <% end %>
</div>

